<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" /> 
        <link href="mail.css" rel="stylesheet" media="all" type="text/css">
    </head>
    <body>
        <main>
            <div class="card">
                <img class="lock" src="https://drive.google.com/uc?id=1FsgRH9XlSweRnon_ohN0z5clLlr7Rojn" alt="logo cadenas vert"/>
                <h1>Vous avez oublié votre mot de passe ou votre identifiant ?</h1><br>
                <div>Votre identifiant AMNet est :</div>
                <div class="username">Gauthier</div>
                <div>Pour réinitialiser votre mot de passe :</div>
                <a class="btn" href="">Cliquez ici</a> 
                <div class="bot-card">
                    <div>
                        Ce mail est généré automatiquement <br> Vous n'avez pas demandé la réinitialisation de votre mot de passe ?<br> Vous pouvez ignorer ce message
                    </div>
                    <div class="help-section">
                        Besoin d'assistance ? Contactez <a id="contact" href="mailto:contact@amnet.fr">contact@amnet.fr</a>
                    </div>
                </div>           
            </div>
            <center><a href="https://amnet.fr/"><img class="logo" src="https://drive.google.com/uc?id=18ZgeNvANAJTr1ZlWiSd_NuDsRzOCJYsP" alt="logo AMNet"/></a></center>
        </main>
    </body>
</html>
